# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore PyInstaller spec file
*.spec

# Ignore system files
.DS_Store
Thumbs.db
